/*
Образец заполнения свойств
.standart-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100px;
  height: 100px;

  margin: 0 auto;
  padding: 10px;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #826550;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid black;
}

.absolut-element {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #826550;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid black;

  overflow: hidden;
  cursor: pointer;
}
*/
